
html{
  background-color: rgb(12, 41, 99);
  font-family: 'Titillium Web', sans-serif;
}



img{
  width: auto;
  height: 200px;
  border-radius: 15%;
  border-left: 4px;
  display: flex;
  
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 1rem rgb(231, 231, 146));
}

.fbook{
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  float: inline-start;
}

.ttok{
  height: 50px;
  width: auto;
  float: inline-end;
}

h1{
  display: block;
  color: rgb(231, 231, 146);
  text-shadow: 2px 2px 4px black;
  font-size: large;
  text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 41, 99);
}
  
li {
    float: left;
  }
  
li a {
    display: block;
    color:rgb(231, 231, 146);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
  }

li a:hover{
    color: rgb(12, 41, 99);
    background-color: rgb(231, 231, 146);
    text-shadow: 2px 2px 4px rgb(12, 41, 99);
  }

body{
  display: block;
  color: rgb(231, 231, 146);
  text-shadow: 2px 2px 4px black;
  font-size: large;
}

a:link{
  color: rgb(231, 231, 146);
  text-shadow: 2px 2px 4px black;
  font-style: italic;
}

a:hover{
  color: gold;
  text-shadow: 2px 2px 4px;
  font-style: normal;
  font-size: large;
}

#aboutcontainer{
  text-align: center;
  align-items: center;
}

#contactcontainer{
  text-align: center;
  align-items: center;
}

h4{
  text-align: center;
}

.hours{
  display: grid;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}


.foot{
 
}

footer{
  text-align: center;
  font-size: small;
  padding-top: 16%;
  background-color: transparent;
}
